h1 {
  font-size: 3rem;
  font-weight: bold;
  /* text-align: center; */
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  animation: colorAnimation 5s linear infinite;
}

/* Definición de la animación */
@keyframes colorAnimation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
