h1 {
  font-size: 3rem;
  font-weight: bold;
  /* text-align: center; */
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 401%;
  background-clip: text;
  -webkit-background-clip: text; /* Prefijo para compatibilidad */
  color: transparent;
  -webkit-text-fill-color: transparent; /* Prefijo para compatibilidad */
  animation: colorAnimation 5s linear infinite;
  -webkit-animation: colorAnimation 5s linear infinite; /* Prefijo para compatibilidad */
}

@keyframes colorAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@-webkit-keyframes colorAnimation { /* Prefijo para compatibilidad */
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
